<%-include('./partials/header')%>
<%-include('./partials/Navbar')%>

<h1>Error Page</h1>

<div class="alert alert-danger" role="alert">
    <%=err%>
  </div>









<%-include('./partials/footer')%>