<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Database</h1>

    <%for (let item of arr) { %>
    <h1><%=item.id %></h1>
    <h3><%=item.name %></h3>
    <p><%=item.comment %></p>

    <%}%>
  </body>
</html>
