<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1><%= foundcomment.id %></h1>
    <h2><%= foundcomment.name%></h2>
    <p><%= foundcomment.comment%></p>
  </body>
</html>
