
/* *{
  padding: 0;
  margin: 0;
} */
p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  
}

a{
  color: white;
}


img{

  height: 20rem;
  width: 19rem;
}

/* .form{
  height: 350px;
  width: 450px;
  border: 1px solid black;

} */
