<nav class="navbar fixed-top navbar-expand-lg "style="background-color: #007885;">
    <div class="container">
      <a class="navbar-brand" href="#">Shopping Cart</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/products">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/products/new">New</a>
          </li>
          
        </ul>
        <form class="d-flex" role="search">
          <a class="mx-2" href="/login"><button class="btn btn-outline-info" type="submit">Login</button></a>
          <a class="mx-2" href="/logout"><button class="btn btn-outline-info" type="submit">Logout</button></a>
        </form>
      </div>
    </div>
  </nav>