*{
    margin: 0;
    padding 0;
}

.load{

    margin:20px auto;
    height: 200px;
    width: 200px;
    border-left: 10px solid red;
    border-right:10px solid green;
    border-bottom:10px solid blue;
    border-top:  10px solid black;
    border-radius: 50%;

    animation-name: Loading;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 2s;
}

@keyframes Loading {

    100%    {
        transform: rotate(360deg);
    }
    
}
